name: GCP Auth Test

on:
  push:
    branches:
      - main

jobs:
  auth-test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/229203399238/locations/global/workloadIdentityPools/ci-pool/providers/github-provider
          service_account: ci-deployer@finops-intelligence-dashboard.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Verify Auth
        run: gcloud auth list