permissions:
  id-token: write
  contents: read

steps:
  - uses: actions/checkout@v4

  - uses: google-github-actions/auth@v2
    with:
      workload_identity_provider: projects/229203399238/locations/global/workloadIdentityPools/ci-pool/providers/github-provider
      service_account: ci-deployer@finops-intelligence-dashboard.iam.gserviceaccount.com

  - uses: google-github-actions/setup-gcloud@v2

  - run: gcloud auth list